*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana;
  color: #335576;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h3 {
  margin: 0;
}
a:active {
  color: #131313;
}
a:visited {
  color: #335576;
}
