/* ----Logo and Navigation bar---- */
/* Logo */
#logo {
  width: 70%;
}
/* Nav-bar  */
.nav-bar {
  width: 30%;
}
.nav-bar-header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  font-size: 1rem;
  position: fixed; /* Fixing the nav bar on the top on each page */
  z-index: 1;
  top: 0;
}
.nav-bar__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0.8rem 0;
}
/* animations added to nav bar items */
.nav-bar__item {
  padding: 0.5rem 0.5rem;
  transition: ease-in-out;
}
.nav-bar__item:hover {
  transform: scale(1.2);
}
.nav-bar__item.nav-bar--current {
  border-bottom: 3px solid var(--orange);
}
/* ----Main---- */
.main-content {
  margin-top: 64px;
}
/* ----Hero Section---- */
.hero-panel {
  background-color: var(--light-beige);
  height: 50vh;
  min-height: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5em;
  column-gap: 10%;
}
.hero-panel__section {
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  row-gap: 3%;
}
.hero-panel__header {
  font-size: 2.25rem;
  margin: 0;
}
.hero-panel__subheader {
  font-size: 1rem;
}
.hero-panel__image {
  width: 400px;
}
/* animations added to nav bar items */
.hero-panel__btn {
  background-color: var(--orange);
  color: var(--light-beige);
  border: none;
  width: 180px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  transition: ease;
  transition-duration: 0.5s;
}
.btn--animation:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
}
/* ----Recommendation Sections---- */
.destination-section {
  height: 50vh;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  padding: 2em 5em;
}
.destination__title {
  font-size: 1rem;
}
.destination__cards {
  display: flex;
  justify-content: center;
  column-gap: 5%;
  border-radius: 5px;
}
/* animations added to nav bar items */
.destination__cards__item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: ease;
  transition-duration: 0.5s;
}
.destination__cards__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
}
.destination__link {
  width: 250px;
  height: 350px;
  min-height: 200px;
  display: block;
  border-radius: 5px;
  position: relative;
}
.destination__name {
  position: absolute;
  margin: 1em;
  bottom: 0;
  right: 0;
  color: var(--light-beige);
}
/* Images for cards */
.destination__link--hawaii {
  background: var(--Hawaii-image);
  background-size: cover;
  background-position: center;
}
.destination__link--iceland {
  background: var(--Iceland-image);
  background-size: cover;
  background-position: center;
}
.destination__link--greece {
  background: var(--greece-image);
  background-size: cover;
  background-position: center;
}
/* ----Footer Section---- */
.footer {
  background-color: var(--light-beige);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 10rem;
}
.footer__item {
  flex-grow: 1;
}
.footer__hours,
.footer__social {
  display: flex;
  column-gap: 10%;
}
.footer__title {
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
}

.footer__subtitle {
  font-size: 0.5rem;
  color: var(--orange);
  margin: 0;
}
.footer__info {
  font-size: 0.75rem;
}
.footer__icon__link {
  width: 15px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.footer__item--social {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  row-gap: 20px;
}
